<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <style>
       body{
        margin-top: 50px;
       }
        .btn-red{
        background-color: #ff6666;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="post" action="/">
    {% csrf_token %}
    {{ form.title }}
    <input type="submit" name="Create task" placeholder="Enter your task">
</form>

{% for task in tasks %}
<div>
    {% if task.completed %}
        <strike>{{ task }}</strike>
    {% else %}
        <button disabled>{{ task }}</button>
    {% endif %}

    <a href="{% url 'update' task.id %}" class="button button-primary">Update</a>
    <a href="{% url 'delete' task.id %}" class="button btn-red">Delete</a>
</div>

{% endfor %}


    </div>
</body>
</html>