
{% extends 'tasks/base.html' %}

{% block title %} Django TODO {% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="/">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" name="Create task" placeholder="Enter your task">
    </form>

    {% for task in tasks %}
    <div>
        {% if task.completed %}
        <strike>{{ task }}</strike>
        {% else %}
        <button disabled>{{ task }}</button>
        {% endif %}

        <a href="{% url 'update' task.id %}" class="button button-primary">Update</a>
        <a href="{% url 'delete' task.id %}" class="button btn-red">Delete</a>
    </div>

    {% endfor %}


</div>
{% endblock %}